* {
  font-family: "Montserrat", serif;
  color: #34312e;
  font-weight: 300;
}

/* Account Page headers */
#account-page-headers {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 48px;
  margin-bottom: 16px;
  margin-left: 48px;
}
/* Container for entire page*/
.account-page-containter {
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  background-color: #e7dbcf;
  border-radius: 20px;
  margin: 48px;
}

/* --- PROFILE INFO START --- */
/* container for the profile info*/
.profile-info-containter {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  /* margin-bottom: 48px; */
}

/* Profile picture*/
.profile-info-containter img {
  width: auto;
  max-width: 233px;
  height: auto;
  max-height: 350px;
  border-radius: 10px;
  margin-left: 48px;
  margin-right: 48px;
}

/* Genre Icons*/
.favourite-genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.favourite-genres img {
  width: 5%;
  margin: 12px;
  margin-bottom: 0px;
  border: none;
}

/* Profile text*/
.profile-info-text h1 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.profile-info-text h2 {
  font-style: italic;
  font-size: 20px;
  margin-top: 16px;
}

.profile-info-text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 16px;
}

.profile-info-text p {
  margin-right: 160px;
  max-width: 520px;
}

/* --- PROFILE INFO END --- */

/* --- IMAGES START --- */
/* Images container*/
.account-movies-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  margin-left: 48px;
  gap: 24px;

  /* --- Taken from https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp start --- */
  overflow-x: auto;
  overflow-y: hidden;
  /* --- end ---- */
}

/* CSS for separete images*/
.account-movies-container img {
  width: auto;
  height: 330px;
  border-radius: 10px;
}

/* --- IMAGES END --- */

/* --- REVIEWS THAT ARE ALWAYS SHOWN START --- */
/* Div for the entire div for reviews*/
.account-reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

/* the div for the text in review itself */
.account-review {
  display: flex;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  max-width: 520px;
  margin-left: 48px;
  margin-top: 48px;
}

/*Posters for reviews*/
.account-reviews-container img {
  width: 50%;
  border-radius: 10px;
}

/* The div for all the text */
.account-review-text {
  margin-left: 48px;
}

/* title on the review */
.account-review-text h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* Th rating */
.account-review-text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 8px;
}

.account-review-text p {
  font-family: "Montserrat", sans-serif;
  margin-top: 16px;
  margin-left: 0;
}
/* --- REVIEWS THAT ARE ALWAYS SHOWN END --- */

/* --- REVIEWS THAT GET ADDED WHEN USER WRITES ONE START --- */

/*Container for user added reviews*/
.moviedetails-review {
  display: flex;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  max-width: 520px;
  margin-left: 48px;
}

/*Placeholder poster for the user submitted review, doesn't work :( */
.moviedetails-review img {
  width: 50%;
  border-radius: 10px;
}

/* Title for added review */
.reviews-subject {
  margin-left: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Rating for added review */
.rating {
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 8px;
  text-transform: none;
}

/* The added review itself */
.reviews-post {
  margin-top: 16px;
}

/* --- REVIEWS THAT GET ADDED WHEN USER WRITES ONE END --- */

/* --- RESPONSIVENESS START ---*/

@media screen and (max-width: 1110px) and (min-width: 890px) {
  .profile-info-text p {
    max-width: 520px;
  }
  .account-review-text p {
    width: auto;
  }
}

@media screen and (max-width: 890px) {
  #account-page-headers {
    margin-left: 0px;
  }
  .account-reviews-container {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 890px) and (min-width: 630px) {
  /* Profile */
  .profile-info-containter {
    flex-direction: column;
    max-width: 640px;
    height: auto;
  }

  .profile-info-text {
    margin-left: 48px;
    margin-top: 20px;
  }

  /* Page Headers */
  #account-page-headers {
    text-align: center;
  }

  /* Genre icons*/
  .favourite-genres img {
    margin: 12px;
    margin-bottom: 0px;
    width: 5%;
    border-radius: none;
  }

  /* Reviews that are always displayed start */
  .account-reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .account-review {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 24px;
  }

  .account-review-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }

  .account-review h2 {
    padding-top: 12px;
    margin: 0px;
  }

  /* Reviews that are always displayed End */

  /* Reviews that are added by user start */

  .moviedetails-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 24px;
  }

  .reviews-subject {
    padding-top: 12px;
    margin: 0px;
  }

  /* Review that are added by user end */
}

@media screen and (max-width: 630px) and (min-width: 370px) {
  /* profile start*/
  .profile-info-containter {
    flex-direction: column;
    margin: 48px 24px;
  }

  .profile-info-containter img {
    max-width: 233px;
    margin: 0 auto 48px;
  }
  .profile-info-text {
    margin: 0 24px;
    text-align: left;
  }

  .profile-info-text p {
    margin: 0px;
    max-width: 100%;
  }

  /* Genre Icons*/
  .favourite-genres img {
    margin: 12px;
    margin-bottom: 0px;
    width: 10%;
    border: none;
  }

  /* Account page header */
  #account-page-headers {
    text-align: center;
  }

  /* Reviews that are always displayed start */
  .account-reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .account-review {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 24px;
  }

  .account-review-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }

  .account-review h2 {
    padding-top: 12px;
    margin: 0px;
  }

  /* Reviews that are always displayed End */

  /* Reviews that are added by user start */

  .moviedetails-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 24px;
  }

  .reviews-subject {
    padding-top: 12px;
    margin: 0px;
  }

  /* Review that are added by user end */
}

/*Fonts & typefaces*/
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
/* --- RESPONSIVENESS END ---*/
