/* --- SEARCH-VIDEOBAR STARTS --- */
/* Container for both the video in the background and the searchbar */
/* Begin help from chatGPT with position, overflow and z-index, date 24/04/2024, source: https://chatgpt.com/share/680ab363-b874-8007-b549-9c5e4b3c5d75 */
.search-videobar {
  position: relative;
  overflow: hidden;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The video in the background */
#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
/* --- SEARCH-VIDEOBAR END --- */

/* --- SEARCH BAR STARTS --- */
/* The searchbar */
#search {
  background-color: #fdf9ec;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 56px; */
  width: fit-content;
  margin-top: 250px;
  padding: 12px 24px 12px 24px;
  border-radius: 5px;
}

/* Font settings - searchbar */
#quote {
  display: flex;
  align-items: center;
}
#quote-text {
  font-size: 16px;
}
#quote img {
  width: 10%;
  padding-right: 12px;
}
/* --- SERACH BAR ENDS --- */
/* End help from chat GPT */

/* --- QUOTE STARTS --- */
/* Container for the logo and text */
#quote {
  display: flex;
  flex-direction: row;
  padding-top: 48px;
  justify-content: center;
}

/* Font settings - quote*/
#quote-text {
  color: red;
  text-transform: uppercase;
  font-size: 20px;
}
/* --- QUOTE ENDS --- */

/* --- SCROLLMENU STARTS --- */
/* Inspiration taken from https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp Date: 24/04/2025 */
/* Movie container */

#content {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 48px;
  gap: 24px;
}

/* Settings for images*/
.movie-poster-homepage {
  width: 204px;
  height: 330px;
  border-radius: 10px;
}

/* --- SCROLLMENU ENDS --- */

/* --- BENTO BOXES STARTS --- */
/* Container for bento boxes */
#bento-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 48px;
  padding-top: 0px;
  gap: 24px;
}

/*  --- SETTINGS FOR INDIVIDUAL BOXES START --- */

/* About us box*/
#about-us img {
  width: 80%;
  margin-left: 24px;
  margin-top: 12px;
}

/* Article box*/
#article p {
  margin-top: 24px;
}

/* Top Reviewers box*/
#top-reviewers-content {
  display: flex;
  flex-direction: row;
}
#top-reviewers img {
  width: 30%;
  border-radius: 20px;
  margin-top: 12px;
  margin-right: 24px;
  justify-content: end;
}

#top-reviewers-content p {
  margin-top: 36px;
}

/* Other shows and series box */

/*  --- SETTINGS FOR INDIVIDUAL BOXES END --- */

/* --- SETTINGS FOR ALL BOXES START */
/* The box itself*/
#about-us,
#article,
#top-reviewers,
#other-shows {
  height: 230px;
  border-radius: 10px;
  background-color: #fdf9ec;
}

/* Font settings for the headers */
.bento-headers {
  color: #130204;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 20px;
}

/* Font settings for the text */
.bento-text {
  color: #130204;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  margin-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 14px;
}
/* --- BENTO BOXES ENDS --- */
