/* --- SEARCH-VIDEOBAR STARTS --- */
/* Container for both the video in the background and the searchbar */
/* Begin help from chatGPT with position, overflow and z-index, date 24/04/2024, source: https://chatgpt.com/share/680ab363-b874-8007-b549-9c5e4b3c5d75 */
.search-videobar {
  position: relative;
  overflow: hidden;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The video in the background */
#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
/* --- SEARCH-VIDEOBAR END --- */

/* --- SEARCH BAR STARTS --- */
/* The searchbar */
#search {
  background-color: #fdf9ec;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 56px; */
  width: fit-content;
  margin-top: 250px;
  padding: 12px 24px 12px 24px;
  border-radius: 5px;
}

/* Font settings - searchbar */
#quote-text {
  font-size: 16px;
}
/* --- SERACH BAR ENDS --- */
/* End help from chat GPT */

/* --- QUOTE STARTS --- */
/* Container for the logo and text */
#quote {
  display: flex;
  flex-direction: row;
  padding-top: 48px;
  justify-content: center;
}

/* Font settings - quote*/
#quote-text {
  color: red;
  text-transform: uppercase;
  font-size: 20px;
}
/* --- QUOTE ENDS --- */

/* --- SCROLLMENU STARTS --- */
/* Inspiration taken from https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp Date: 24/04/2025 */
/* Movie container */
.scrollmenu-movies {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  overflow-x: auto;
  overflow-y: hidden;
  padding: 48px;
  gap: 24px;
}

/* Settings for images*/
.scrollmenu-movies img {
  width: 204px;
  height: 330px;
  border-radius: 10px;
}
/* --- SCROLLMENY ENDS --- */

/* --- BENTO BOXES STARTS --- */
/* Container for bento boxes */
#bento-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 48px;
  padding-top: 0px;
  gap: 24px;
}

/* Settings for the invidual boxes */
#top-reviewers,
#about-us,
#article,
#box4 {
  height: 230px;
  border-radius: 10px;
  background-color: #fdf9ec;
}

/* Font settings for the headers */
.bento-headers {
  color: #130204;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}

/* Font settings for the text */
.bento-text {
  color: #130204;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
}
/* --- BENTO BOXES ENDS --- */
