article input{
    color: #616161;
    font-size: 16px;
    font-weight: 500;
    border-width: 0px;
}
h1{
    color: black;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
}

section {
  display: block;
  background-color: #e7dbcf;
  padding: 30px;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
  max-width: 480px;
  min-width: 270px;
}
/*code for the username, and password aricles*/
article {
    display: block;
    background-color: #ffff;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

input#Username, #Password {
  width: 100%;
  padding-right: 20px;
}
 /* Login button*/
button3 {
    display:block;
    background-color: #cb2026;
    color: #fdf9ec;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    border-width: 0px;
}
/*button animation*/
button3:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px #616161;
}

 /* Signin button*/
button2 {
    display:block;
    background-color: #ffff;
    border: #cb2026;
    border-style: solid;
    border-width: 4px;
    color: #34312e;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight:700;
    font-size: 18px;
}

/* Button animation*/
button2:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px #616161;
}

/* checkbox "line" */
.checkbox, p7 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 400;
}

p7 {
  padding-top: 4px;
}
/* "OR" text between buttons*/
p3 {
    text-align: center;
    display: block;
    font-weight: 800;
    font-size: 20px;
}

/* text underneath the section*/
.fix-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.p4,
.p5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #fdf9ec;
}

.p5 {
  background-color: #cb2026;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 8px;
  font-weight: 700;
}

/*Fonts & typefaces*/
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

p2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error-message {
  color: #cb2026;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: none;
}

/* Grid for entire footer */
#footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #e7dbcf;
  overflow: hidden;
}

/* Layout left side */
#footer-left-side {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  gap: 24px;
  padding: 48px 0px 48px 48px;
  font-family: "Montserrat", sans-serif;
}

/* TMDB, only on login page */
#footer-TMDB-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 8px;
}

#TMBD-text {
  max-width: 250px;
}

#footer-TMDB-container img {
  height: auto;
  width: 60%;
}

/* Div around social media and quick links */
#socialmedia-quicklinks {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

/* Social media */
#footer-socialmedia-container {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

/* Text specifications social media */
#footer-socialmedia-container p {
  color: #130204;
  font-weight: 600;
}

#footer-socialmedia-container a {
  color: #130204;
  transition: all 0.3s;
  transform: scale(1);
}

#footer-socialmedia-container a:hover {
  transform: scale(1.05);
}

/* quick links */
#footer-quicklinks-container {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

/* Text specifications quick links */
#footer-quicklinks-container p {
  color: #130204;
  font-weight: 600;
}

#footer-quicklinks-container a {
  color: #130204;
  transition: all 0.3s;
  transform: scale(1);
}

#footer-quicklinks-container a:hover {
  transform: scale(1.05);
}

/* Logo footer */
#logo-footer {
  display: flex;
  height: auto;
  width: 200%;
  padding: 48px;
}

/* --- FOOTER CSS END --- */

/* --- RESPONSIVE MODE START --- */
/* Logo and footer links */
@media screen and (max-width: 500px) {
  #logo-footer {
    display: none;
  }
}
/* --- RESPONSIVE MODE ENDS --- */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /*"Need an account?"*/
  .p4, .p5 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fdf9ec;
  }
  
  /* pretend button*/
  .p5 {
    background-color: #cb2026;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 8px;
    font-weight: 700;
  }
  

/*Fonts & typefaces*/
.montserrat-regular {
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  /* error message when putting in the wrong password*/
  p2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } 

  .error-message {
    color: #cb2026; 
    font-weight: 600;
    display: none;
    font-size: 18px;
    margin-top: 8px;
  }

  @media (max-width: 575px) {
    section {
      margin-left: 48px;
      margin-right: 48px;
    }

    input#Username, #Password {
      width: 100%;
      padding-right: 20px;
    }
  }

  @media (max-width: 536px) {
    .fix-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .p4 {
      font-size: 20px;
    }
    input#Username, #Password {
      width: 100%;
      padding-right: 20px;
    }

  }
