/* --- FILTERING STARTS --- */
.filter {
  margin-left: 48px;
  margin-top: 48px;
}

/* Sort by */
#sort-by {
  color: #e7dbcf;
  font-size: 20px;
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif;
}

/* Button for displaying the dropdown menu */
#filter-button {
  display: flex;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #e7dbcf;
  background-color: #130204;
  border: 2px solid #e7dbcf;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 16px;
  gap: 5px;
}

/* The arrow on the button */
#filter-button img {
  transform: rotate(90deg);
}

/* The square that displays when pushing button (Most popular) - inspiration/help with this code taken from a previous project + w3 schools https://www.w3schools.com/howto/howto_js_dropdown.asp*/
.dropdown-content {
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  z-index: 1;

  background-color: #ede4da;
  opacity: 90%;

  width: fit-content;
  border-radius: 10px;
  padding: 32px;
  gap: 8px;
}

.dropdown-content-show {
  display: flex;
}

/* Buttons for filtering inside the dropdown square */
.dropdown-content button {
  color: #130204;
  border: none;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
}

/* w3 Schools*/
/* --- FILTER ENDS --- */

/* --- MOVIES STARTS --- */
/* Id in html - grid */
#content {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  margin: 48px;
  margin-top: 0;
  gap: 32px;
}

/* Help from second year NMD student, Erik sandquist with position, max-height and aspect-ratio.*/
/* Div around each image */
.image-container {
  position: relative;
  z-index: 0;
  width: 100%;
  max-height: 500px;
  aspect-ratio: 3/4;
}

/* Settings for indivitual images */
.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 10px;
}

/* h1 {
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
} */
/* --- MOVIES ENDS --- */

/* --- RESPONSIVE MODE START --- */
@media screen and (max-width: 850px) {
  #content {
    margin-left: 72px;
    margin-right: 72px;
  }

  #filter-button {
    margin-left: 72px;
    margin-right: 72px;
  }

  /* 
  #filter-button {
    margin-left: 72px;
    margin-right: 72px;
  }

  #sort-by {
    margin-left: 72px;
    margin-right: 72px;
  } */
}
/* Search */
@media screen and (max-width: 850px) {
  .search-videobar {
    height: 600px;
  }
}
@media screen and (max-width: 500px) {
  #search {
    width: 100%;
    margin-left: 48px;
    margin-right: 48px;
  }
  #search-text {
    font-size: 12px;
  }
  .search-videobar {
    height: 550px;
  }
}

/* Movies */
@media screen and (max-width: 950px) {
  #content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 650px) {
  #content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  #content {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* --- RESPONSIVE MODE ENDS --- */
