/* --- CSS FOR ENTIRE PAGE START --- */
* {
  margin: 0;
  padding: 0;
  text-decoration: none; /* syntax from: https://www.w3schools.com/css/css_link.asp*/
}
html {
  background-color: #130204;
}

/* MONSTERRAT FONT*/
/*
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

/* --- CSS FOR ENTIRE PAGE END --- */

/* --- MENU BAR CSS START --- */

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #e7dbcf;
  height: 108px;
}

/* Logotype */
#menu-logo {
  height: 45px;
  width: auto;
  padding-right: 220px;
}

/* the lsit itself */
.menu-ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}

/* individual list items */
li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #130204;
  margin-left: 3rem;
  margin-top: 2%;
}

/* --- MENU BAR CSS END --- */

/* --- FOOTER CSS START --- */

/* Grid for entire footer*/
#footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #e7dbcf;
  height: 240px;
  padding-right: 12px;
  padding-left: 24px;
  align-items: center;
}

/* text specifications*/
#footer-text {
  font-family: "Montserrat", sans-serif;
  padding-top: 12px;
  margin: 6px;
}

/* layout left side*/
#footer-left-side {
  display: flex;
  flex-direction: column;
}

/* Social media*/
#footer-socialmedia-container {
  display: flex;
  justify-content: start;
  text-decoration: none;
}
/* quick links*/
#footer-quicklinks-container {
  display: flex;
  justify-content: start;
}

/* TMDB*/
#footer-TMDB-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#footer-TMDB-container img {
  width: 60%;
}

/* logo */
#logo-footer {
  height: 210px;
  width: auto;
}

/* --- FOOTER CSS END --- */
