/* --- CSS FOR ENTIRE PAGE START --- */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #130204;
}
/* --- CSS FOR ENTIRE PAGE END --- */

/* --- MENU BAR CSS START --- */
header {
  background-color: #fdf9ec;
  height: 108px;
}

/* Div for entire menu bar */
.menu-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Logotype */
#menu-logo {
  width: 204px;
  height: 30px;
  padding-top: 2%;
  margin-right: 27%;
  align-self: center;
}

/* the lsit itself */
.menu-ul {
  display: flex;
  list-style: none;
  padding-top: 2%;
  margin-right: 5%;
}

/* individual list items */
li {
  margin-left: 3rem;
  margin-top: 2%;
}

/* --- MENU BAR CSS END --- */

/* --- FOOTER CSS START --- */

#footer-container {
  display: flex;
  align-items: center;
  background-color: #fdf9ec;
  height: 240px;
}

#logo-footer {
  width: 773px;
  height: 105px;
  justify-self: flex-end;
}

#footer-text-container {
  margin-left: 7%;
  margin-top: 5%;
}
#footer-text {
  padding-top: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

/* --- FOOTER CSS END --- */
