/* --- INFO BEFORE FILTER BEGINS --- */
/* Heading - top reviewers */
#top-reviewers {
  color: white;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  margin-left: 48px;
  margin-top: 48px;
  margin-bottom: 8px;
}

/* Text - top reviewers */
#top-reviewers-text {
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-left: 48px;
  margin-bottom: 16px;
}

/* --- INFO BEFORE FILTER ENDS --- */

/* --- FILTER STARTS --- */
/* Sort by */
#sort-by {
  color: #e7dbcf;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 16px;
  margin-left: 48px;
}

/* Button */
#sort-by-button {
  display: flex;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #e7dbcf;
  background-color: #130204;
  border: 2px solid #e7dbcf;
  border-radius: 10px;
  padding: 10px;
  margin-left: 48px;
  margin-bottom: 16px;
  gap: 5px;
  transition: all 0.3s;
}

/* The arrow */
#sort-by-button img {
  transform: rotate(90deg);
}

#sort-choice.visible {
  display: flex;
}

/* The diplay of all the different choices */
#sort-choice {
  flex-direction: column;
  position: absolute;
  display: none;
  background-color: #ede4da;
  opacity: 90%;
  border-radius: 10px;
  padding: 32px;
  margin-left: 48px;
  width: fit-content;
}

/* The text that is clickable */
#sort-choice button {
  width: 100px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: transparent; /* help with only this line, date: 2/6, link https://chatgpt.com/share/681472d3-ac70-8007-90c2-2e889251f79d */
  display: flex;
  justify-content: flex-start;
}

/* --- FILTER ENDS --- */

/* --- FACE CARDS STARTS --- */

/* Container for all cards */
#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  margin-left: 48px;
  margin-right: 48px;
  padding-bottom: 48px;
  border-radius: 5px;
}

/* Container for the settings for the invidual cards*/
.container {
  background-color: #e7dbcf;
  border-radius: 10px;
  padding: 20px;
}

/* Div for the reviewer image and text container */
.image-text {
  display: flex;
  flex-direction: row;
}

/* Reviewer image */
.reviewer-image {
  width: 117px;
  height: 170px;
  border-radius: 10px;
  margin-right: 16px;
  margin-bottom: 16px;
}

/* Text container */
.text {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

/* Name*/
.reviewer-name {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 4px;
  color: #34312e;
}

/* Email , Favorite genre */
.reviewer-email,
.reviewer-favorite {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 4px;
  color: #34312e;
}

/* Div around all icons */
.icons-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 4px;
}

/* Settings for each icon */
.icons-img {
  width: 15px;
  height: 15px;
}

/* Text */
.reviewer-text {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 4px;

  color: #34312e;
}

/* Recently reviewed */
.reviewer-recently {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 8px;
  color: #34312e;
}

/* Div around all movies */
.movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  width: 100%;
  position: relative;
}

/* Settings for each movie poster */
.movie-img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

/* --- FACE CARDS ENDS --- */

/* --- RESPONSIVE MODE START --- */
@media screen and (max-width: 1100px) {
  #cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 850px) {
  #top-reviewers-text {
    margin-right: 48px;
  }
  #cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .reviewer-image {
    width: auto;
    height: 130px;
  }
  .search-videobar {
    height: 600px;
  }
}

@media screen and (max-width: 600px) {
  .reviewer-image {
    width: auto;
    height: 130px;
  }
}

@media screen and (max-width: 500px) {
  #search {
    width: 100%;
    margin-left: 48px;
    margin-right: 48px;
  }
  #search-text {
    font-size: 12px;
  }
  .search-videobar {
    height: 550px;
  }
}

@media screen and (max-width: 430px) {
  .reviewer-image {
    width: auto;
    height: 100px;
  }
}

/* --- RESPONSIVE MODE ENDS --- */
